
</html>
<footer class="page-footer font-small blue pt-4">

            <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mukeshmahara.github.io/"> Mukesh Mahara</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->
      