
</body>
    <footer>
        <div class="card">
            <div class="card-header">
                &copy; Mukesh Mahara
            </div>
            <div class="card-body">
                <h5 class="card-title">XYZ Company Pvt</h5>
                <p class="card-text">warm welcom to our company</p>
                <a href="/" class="btn btn-primary">Home</a>
            </div>
            
        </div>
    </footer>

</html>