<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="/css/style.css" type="text/css" >
     -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

    <nav class="nav-items">
        <ul > 
            <li  ><a href="/">Home</a></li>
            <li  ><a href="/form">form</a></li>
            <li  ><a href="https://www.youtube.com">Youtube</a></li> 
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
