<%include partials/header%>
<div>
    <span>
        <input type="text" class="form-control"  placeholder="What do you want to ask me ? ">
        <input type="button" onclick="function reply(){}" value="Ask" id="">
    </span>
</div>
</body>
<%include partials/footer%>
<script>

function reply(){
    var answers ="hello brother";
    console.log(answers);

}

</script>

</html>