
    <% include partials/header %>
    <div class="container">
        <h1>Goal Setter App</h1>
        <form method="POST" action="/form" class="form" >
            <label for="Goal">Goal:</label>
            <input type="text" placeholder="Set your Goals" name="title">
            <input type="submit" name="submit" class="btn btn-primary" >
                
        </form>
    </div>
    
    <% include partials/footer %>
