
    <%include partials/header%>
    <label for="Goal"><h1>Goal Setter App</h1></label>
    <div>
        <form method="POST" action="/form" >
            <label>Goal:</label>
            <input type="text" placeholder="Set your Goals" name="title">
            <button  type="submit" class="btn btn-success">submit</button> 
                
        </form>
    </div>
    <% include partials/footer %>
