
    <% include partials/header %>
    <h1>Goal Setter App</h1>
    <form method="POST" action="/form" >
        <label for="Goal">Name</label>
        <input type="text" placeholder="Set your Goals" name="title">
        <input type="submit" name="submit"  >
        
    </form>
    <% include partials/footer %>
