
        <% include partials/header %>

        <h1> i'm <%=name %></h1>

       <div> 
            <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Goal List</th>         
                            <th scope="col">Delete option</th>   
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>
                                <% goals.map(function(goal){ %>
                                    <%=goal.title %>
                                <% }) %>  
                                <br>
                                                    
                            </td>
                             
                            <td>
                                <% goals.map(function(goal){%>
                                    <form action="/form/<%=goal._id%>?_method=DELETE" method="POST" >
                                        <button type="submit" onclick="return confirmDelete()">Delete</button>
                                        </form>
                                    <% }) %> <br>
                            </td>
                        </tr>
  
                    </tbody>
                </table>
                
       </div>

       <div class="container-fluid" style="height: 100%">
           <div class="row" style="height: 100%">
               <div class="col-4 bg-primary" >
                   <h1>C</h1>
                <pre>printf("Hello world");</pre>
               </div>
               <div class="col-4 bg-secondary">
                <h1>C++</h1>
                <pre>cout<<"Hello world";</pre>
               </div>
               <div class="col-4 bg-danger" >
                <h1>Python</h1>
                <pre>print("hello world");</pre>
               </div>
           </div>
       </div>
        
        <script>
        function confirmDelete(){
            return confirm("Are you Sure?");
            alert(console.log("ok"));
        }
        </script>
        <style>
            html,body {
                height: 100%;
            }
        </style>
    
</body>
<% include partials/footer %>
</html>