<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Goal Setter</title>
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>

<body >
        <% include partials/header %>

        <h1> i'm <%=name %></h1>

       
        <table class="table table-hover">
            <thead>
                <tr>
                    <th  scope="col">S.N</th>
                    <th scope="col">
                        Goal List
                    </th>         
                    <th scope="col">Delete option</th>   
                </tr>
            </thead>
            <tbody>
                <tr> 
                    <th scope="row">1</th> 
                    
                    <td><% goals.map(function(goal){%>
                        <%=goal.title %> <br><br>
                        <% }) %>    
                    </td> 

                    <td><% goals.map(function(goal){%>
                        <form action="/form/<%=goal._id%>?_method=DELETE" method="POST" >
                            <button type="submit" onclick="return confirmDelete()" class="btn btn-danger">Delete</button><br>
                        </form>
                        <% }) %> 
                    </td>
                     
                </tr>
                <br>
            </tbody>
        </table>

        <script>
        function confirmDelete(){
            return confirm("Are you Sure?");
            alert(console.log("ok"));
        }
        </script>
        
     
</body>
<% include partials/footer %>
<!-- </html> -->