<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signup</title>
    
    <link rel="stylesheet" href="/css/style.css" type="text/css" >
</head>
<body>
    <form action="/login" method="POST">
        <div>
            <input type="text" class="signup" placeholder="Enter user name"><br><br>
            <input type="text" class="signup" placeholder="Create password"><br><br>
            <input type="text" class="signup" placeholder="Email"><br><br>
            <input type="text" class="signup" placeholder="Address"><br><br>
            
        </div>         
        <input type="submit" name="submit" id="" onclick="return createaccount()">
    </form>
    <Script>
        function createaccount(){
            // return confirm("Are you sure to sumbit the details?");
            document.write("You have successfully created your account...");
        }
    </Script>
</body>
<% include partials/footer %>
</html>